---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Martinovic Service | Professional Handyman & Gardening"
  description="Professional repairs, furniture & kitchen assembly, transport and gardening services."
>

  <main>
    <h1>Impressum</h1>
  </main>
</BaseLayout>
